*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body{
  background: linear-gradient(135deg,#0f172a,#111827);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container{
  text-align: center;
}

h1{
  font-size: 60px;
  margin-bottom: 20px;
  color: #00ff88;
}

.saldo{
  font-size: 30px;
  margin-bottom: 40px;
}

.cards{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.card{
  background: #1e293b;
  padding: 30px;
  border-radius: 15px;
  width: 200px;
  transition: 0.3s;
}

.card:hover{
  transform: scale(1.05);
}

.card h2{
  margin-bottom: 10px;
}

button{
  padding: 18px 40px;
  border: none;
  border-radius: 12px;
  background: #00ff88;
  color: black;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  background: #00cc6a;
  transform: scale(1.05);
}